---
import Layout from '../layouts/Layout.astro';
import Home from '~/components/Home';
---

<Layout title="京me授权">
    <div class="w-full h-full flex justify-center items-center">
        <div class="text-center">
            <Home client:only="solid-js" />
        </div>
    </div>
</Layout>
