---
import Layout from "~/layouts/Layout.astro"
---

<Layout title="404">
  <div class="h-full w-full flex items-center justify-center">
    <a href="/" class="text-2xl font-extrabold text-slate-7 dark:text-slate" >迷路了，点我回主页吧</a>
  </div>
</Layout>
