---
import Layout from '../layouts/Layout.astro';
import IOModel from '~/components/IOModel';
import iopng from '~/assets/io.png';
---

<Layout title="Model I/O">
    <div class="w-70% m-x-auto m-y-10 flex flex-col justify-center items-center">
        <img class="w-full" src={iopng.src} alt="iopng" />
        <IOModel client:only="solid-js" />
    </div>
</Layout>
