---
import Layout from '../layouts/Layout.astro';
import IOModel from '~/components/IOModel';
import iopng from '~/assets/io.png';
---

<Layout title="Model I/O">
    <div class="h-full w-70% m-x-auto p-y-9 box-border flex flex-col gap-y-6 justify-center items-center">
        <img class="w-full" src={iopng.src} alt="iopng" />
        <IOModel client:only="solid-js" />
    </div>
</Layout>
