---
import Layout from '../layouts/Layout.astro';
import RetrievalQA from '~/components/RetrievalQA';
import qa from '~/assets/qa.jpeg';
---

<Layout title="Retrieval QA">
    <div class="h-full w-70% m-x-auto p-y-9 box-border flex flex-col gap-y-6 justify-center items-center">
        <img class="w-full" src={qa.src} alt="qa" />
        <RetrievalQA client:only="solid-js" />
    </div>
</Layout>
