---
import Layout from '../layouts/Layout.astro';
import Summary from '~/components/Summary';
---

<Layout title="Summarization">
    <div
        class="h-full w-70% m-x-auto p-y-9 box-border flex flex-col gap-y-6 justify-center items-center"
    >
        <Summary client:only="solid-js" />
    </div>
</Layout>
